/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.sheet-container {
  max-width: 1500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
header p {
  margin: 0;
}

header img {
  max-height: 80px;
}

/* Info Table */
.table {
  margin-bottom: 0;
}



.attendance-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.num{
  width: 5px;
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-text-orientation: sideways-right;
}
 .sn , .ln , .fn , .id{
  width: 70px;
  height: 100px;
  font-size: 14px;
}

tr.days th{
  width: 4px;
  font-size: 8px;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-text-orientation: sideways-right;
}