/** @format */

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.sheet-container {
  max-width: 1500px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table {
  margin-bottom: 0;
}

.attendance-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.num {
  line-height: 3px;
  width: 5px;
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-text-orientation: sideways-right;
}
.sn,
.ln,
.fn,
.id {
  width: 70px;
  height: 100px;
  font-size: 14px;
}

tr.days th {
  max-width: 1px;
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-text-orientation: sideways-right;
}
#days,
#months {
  color: gray;
}
.left {
  width: 100px;
  font-size: 13px;
  font-weight: bolder;
  line-height: 4px;
}

.students {
  line-height: 5px;
  font-size: 12px;
  font-weight: bolder;
  text-align: right;
}
img {
  width: 100px;
}
p {
  line-height: 4px;
}
